* { margin: 1.5rem; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 16px;
    font-family: Ubuntu, sans-serif;
    color: #ffb6c1;
}

h1 {
    font-size: 50px;
    color: #EBFBFA;
}

h2 {
    font-size: 30px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: auto;
    padding: 70px;
    max-width: auto;
}

header, footer, footer a {
    text-align: left;
    background-color: #462A40;
    color: whitesmoke;
}

header img {
    width: 300px;
    height: auto;
    float: right;
    border-radius: 50%;
}

footer {
    font-size: smaller;
}