* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* ids */

#weather_icon {
    width: 80px;
}

/* classes */

.hamburger {
    margin-top: 10px;
    margin-bottom: -5px;
    background: none;
    border-color: #2196f3;
}

button > img {
    width: 6%;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    background-color: #2196f3;
    /*add color*/
    display: block;
    width: 100%;
    margin: 2px 0;
}

.navigation.responsive li a {
    padding: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation.responsive li a:hover {
    background-color: #d9d9d9;
}

.piccontainer {
    display: grid;
    grid-template-columns: 1fr;
    /*  grid-template-rows: ;*/
    /*  grid-column-gap: 20px;*/
}
.images {
    border-radius: 10px;
}
.item {
    border: 1px solid #2196f3;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
}

figure:hover {
    /*    opacity: 0.6;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.3) inset;
    border-radius: 10px;
}

.forecast {
    display: none;
}

.sunny {
    width: 60px;
}

.hmm {
    min-width: 10px;
    max-width: 25px;
}

.ftitle {
    margin: 20px;
}

.weather-summary {
    margin-top: 20px;
}

.weather-summary h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.current p {
    font-size: 1.5em;
}

.highlow {
    font-size: 1.2em;
}

.highlow p {
    margin: 5px;
}

.conditions h3 {
    margin-top: 15px;
}

.conditions p {
    margin: 5px;
    font-size: 1.2em;
}

.peek h3 {
    font-size: 1.5em;
}

.peeked {
    max-width: 300px;
    margin: 0 0 20px;
}
.peeked2 {
    max-width: 300px;
    margin: 40px 0 40px;
}

.town-article {
    margin: 0 60px 40px;
    line-height: 1.4;
}

/* -----------------------------------------------------*/

body {
    font-size: 16px;
    font-family: 'Arvo', serif;
    background-color: #2196f3;
    /*add color*/
    color: white;
    /*aaddff bbddff ccddff ddddff eeddff*/
}

header {
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-family: 'permanent marker';
    display: inline;
    /*margin: 0 0 0 -20px; to correct the misalignment*/
}

header h2 {
    margin: -1px;
    font-weight: ;
}

header img {
    margin: 0 0 0 -18px;
}

header .subheading {}

nav {}

nav button {}

nav ul li a {
    color: white;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a.visited {}

nav ul li a:hover {
    color: #f9cf00;
}

nav ul li:active a {
    
}
.active a {
    border-bottom: solid;
    border-color: white;
}
.active:hover a {
    border-bottom: dashed;
    border-color: #f9cf00;
}
main {
    text-align: center;
}

main h2 {}

/*main figure img {
    width: 300px;
    height: 300px;
    padding: 4px;
}*/

main figure img {}

main article h3 {}

main article.peek {}

main article.peek img {
    width: 100%;
    min-width: 160px;

}


/*---------------------form----------------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid white;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: blue;
    margin: 0 1rem;
    padding: 0 .5rem;
    color: white;
    /*    text-align: left;*/
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: white;
    font-size: ;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 5px;
    padding: .75rem;
    color: black;
    background-color: white;
    width: 100%;
    max-width: 20rem;
    /*    margin: auto;*/
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

input.radio[type="radio"] {
    display: inline !important;
    width: auto;
}

.storminfo,
.top {
    text-align: left;
}

form input.submitBtn {
    border: white solid 3px;
    background-color: #2196f3;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

/*-----------------------------------------------*/

/*------------------json styling-----------------*/

section article {
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
}

section.para {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /*    font-weight: bold;*/
}

.myL {
    text-align: center;
    list-style-type: none;
    margin-left: -40px;
}

.para {
    margin-top: 5px;
}

.images {
    width: 300px;
    margin-top: 15px;
}

/*-----------------------------------------------*/

table {
    margin: auto;
}

article h3 {
    margin: 20px 0;
}

footer {
    text-align: center !important;
    margin: 10px 0;
}
