@media only screen and (min-width: 600px) {
    th,
    td {
        border-style: solid;
        padding: 10px;

    }
    /*
    td {
        border-style: solid;
        border-top: none;
    }
*/
    .hamburger {
        display: none;
    }

    section.forecast {
        display: contents;
    }

    .navigation {
        margin: 15px 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .navigation > li {
        display: contents;
        text-align: center;
        flex-basis: 100%;
        flex: 1;
    }
    .links {}
    .piccontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*    grid-template-rows: ;*/
        grid-column-gap: 50px;
    }
    .weather-summary h3 {
        font-size: 1.7em;
    }
    .forecast h3 {
        font-size: 1.5em;
    }
    .peek h3 {
        font-size: 1.7em;
    }
    .peeked2 {
        max-width: 350px;
        margin: 50px 0 50px;
    }
    .tenday {
        margin: 20px 0 10px;
    }

    section article {
        margin: auto;
        width: 70%;
        border: 3px solid white;
        padding: 10px;
    }
    table {
        border-style: solid;
        border-color: #f9cf00;
        border-collapse: collapse;
        border-radius: 30px;
        border-width: 5px;
        padding: 10px;
        line-height: 1.4em;
    }
    .aroundTen {
        border-style: solid;
        border-color: #f9cf00;
    }
    .town-article {
        margin: 0 115px 30px;
    }
    fieldset {
        width: 730px;
    }
}
