@media only screen and (min-width:37.5em) {

    .hamburger {
        display: none;
    }

    .navigation > li {
        display: inline;
        float: left;
        font-size: 1.4rem;
        margin-bottom: -25px;
    }

    section.forecast {
        display: block;
    }

    body,
    p {
        font-size: 1.9em;
    }

    header img {
        width: 30%;
    }

    main {
        margin-top: 31%;

    }

}
