@media only screen and (min-width: 64em) {

    main {
        margin-top: 10%;
    }

    .navigation {
        margin: 15px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    p {
        font-size: 1.4rem;
    }


    .page-divider {
        display: none;
    }

    .navigation > li {
        display: contents;
        flex-basis: 100%;
        flex: 1;
        font-size: 1.4rem;
    }

    nav ul li a {
        display: flex;
        padding: 20px;
    }

    main h2 {
        font-size: 1.7em;
        margin-top: -5%;
    }


    header img {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }


    .galleria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    figure:hover {
        opacity: 0.5;

    }

    iframe {
        width: 600px;
        height: 450px;
    }
    .oops {
        width: 50%;

    }


}
