/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */


body, p{
  font-size: 1.8em;
  font-family: 'Lora', serif;
  background-color: #e7e6e7;
}

header, nav, main, footer { 
    font-family: 'Lilita One', sans-serif;
    max-width: 100%;
    background-color: #e7e6e7;
}

section.forecast{
    display: none;
}


header {
        margin: auto;
}
header h1 {
    font-size: 2em;
    padding: .05em;
    text-align: center;
}

header h3 {
    font-size: 2em;
}

header img {
    width: 200px;
    height: auto;
    border: none;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header .subheading {
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: center;
    padding: .05em;
}

nav {
    font-family: 'Lilita One', sans-serif;    
    font-size: 1.5em;
    letter-spacing: .05em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
    text-decoration: none;
    color: #001e00;
    background-color: #e7e6e7;
}
nav ul li.active a {
    background-color: #808000;

}
nav ul li a:hover {
        color: #808000;
}

main {
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    margin-top: 120%;
    padding-left: .8em;
    padding-right: .8em;
}
main h2 {
      font-size: 1.7em;
}
main h3 {
      font-size: 1.4em;
}
main figure { 
    margin: 0 0 .2rem 2%; 
    width:96%; 
}

img {
    width: 125%;
    height: auto;
}

footer {
    text-align: center;
}