@media only screen and (min-width:37.5em) {
    
    nav button { 
        display:none; 
    } 
    
    section.forecast { 
    display: block;
    }  
    
    body, p{
      font-size: 1.9em;
    }
    
    header img {
    width: 30%;
}
    
    main {
    margin-top: 31%;

}
    
  }